### 위치 추정
- feature 의 대푯값 탐색
#### 평균
#### 가중 평균
신뢰도가 높은 데이터에 가중치 부여
#### 중간값
평균과 달리 특이값 영향 없음
#### 절사평균

### 변이 추정
- feature 의 분포도 탐색
#### 분산
#### 표준편차
분산의 제곱근

=> 데이터프레임 describe() 함수로, 위 값들 파악 가능

In [4]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6],    
    'C': [1, 2, 3, 4, 5, 100]
})
df

   A    C
0  1    1
1  2    2
2  3    3
3  4    4
4  5    5
5  6  100

In [5]:
df.describe()

              A           C
count  6.000000    6.000000
mean   3.500000   19.166667
std    1.870829   39.625329
min    1.000000    1.000000
25%    2.250000    2.250000
50%    3.500000    3.500000
75%    4.750000    4.750000
max    6.000000  100.000000